/* Reset */
* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  outline: 0;
}
.d-flex{
  display: flex;
}
a{
  color:#fff;
  text-decoration: none;
}
ul{
  list-style: none;
}
header{
  padding:20px 10%;
  background-color: #000;
  color: #fff;
  position: sticky;
  top:0;
  z-index: 6;
}
header span{
  color: rgb(206, 41, 206);
}
::selection{
  color: rgb(206, 41, 206);
}
nav {
  width: 100%;
  justify-content: space-between;
}

nav ul{
  gap: 10px;
}
nav ul li{

  transition:all 0.5s ease;
}
nav ul li a:hover{
  text-decoration: underline;
  color: rgb(206, 41, 206);
}
.menu-toggle{
  display: none;
}

/*  info */
#info{
  padding: 3% 10%;
  background-color: #fff;
  color: #000;
}
#info .container{
  justify-content: space-between;
  align-items: center;
}
.define-content {
  flex-direction: column;
  gap:5px;
  width: 60%;
}
.img-container{
  width: 30%;
}
.img-container img{
  width: 170px;
  height: 200px;
  border-radius: 50%;
    border: 3px solid rgb(206, 41, 206);
  padding:5px;
      filter: drop-shadow(0 40px 6px rgba(0, 0, 0, 0.2));
}
.define-content p:not(:last-of-type){
  font-weight: bold;
  font-size: 23px;
}
.define-content p:last-of-type , .define-content div:last-of-type{
  margin-top: 20px;
}
.define-content p:last-of-type{
  color: grey;
}
.define-content span{
  font-size: 25px;
  color: rgb(206, 41, 206);
  font-family: cursive;
}

.define-content button{
  padding: 5px 15px;
  color: #fff;
  cursor: pointer;
  border: 0;
  outline: 0;
  transition:all 0.3s ease;
}
.define-content button:first-of-type{
  background-color: #000;
}
.define-content button:first-of-type:hover{
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

.define-content button:last-of-type{
  background-color: rgb(206, 41, 206);
}
.define-content button:last-of-type:hover{
  background-color: #fff;
  border: 2px solid rgb(206, 41, 206);
}
.define-content button a:last-of-type:hover{
  color: rgb(206, 41, 206);
}


/*  about */
#about {
 padding:3% 10%;
 background-color: #000;
 color: #fff;
}
#about .container>div:last-of-type{
  width: 60%;
}
#about h4 ,#about h5{
  margin-bottom: 30px;
  font-size: 20px;
}
#about h4 span , #skills h3 span , #contact h1 span{ 
 color: rgb(206, 41, 206);
}
#about .container{
  justify-content: space-between;
}
#about .container>div:first-child img{
  width: 80%;
  border-radius: 5px;
  filter: drop-shadow(0 2px 6px rgb(206, 41, 206));
}
#about .container>div:first-child {
  width: 40%;
  justify-content: center;
}
.contact-icons{
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
  row-gap: 20px;
}
.contact-icons p{
  width: 50%;
}
.contact-icons i{
 color: rgb(206, 41, 206);
 margin-right:5px;
}
.contact-icons+p span{
     padding: 7px;
    background-color: rgb(151, 3, 151);
    margin-right: 10px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    transition: 0.3s ease;
}
.contact-icons+p span:hover{
  background-color: rgb(75, 4, 75);
}

/* skills */
#skills {
padding:5% 10%;
background-color: #000;
}
#skills .container {
  text-align: center;
  align-items: center;
  flex-direction: column;
}
#skills h3{
  font-size: 25px;
  color: #fff;
}
#skills .container .skill-cards{
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 50%;
  gap:20px;
}
#skills .container .skill-cards .skill-card{
  width: 150px;
  background-color: #fff;
  color: #000;
  padding: 15px 10px;
  border-radius: 5px;
  margin-bottom: 30px;
 transition: 0.3s ease;
}
#skills .container .skill-cards .skill-card i{
  color: rgb(206, 41, 206);
  font-size: 20px;
}

#skills .container .skill-cards .skill-card:hover{
 transform: translateY(-15px);
 background-color: #d6d3d3;
 color: rgb(110, 4, 110);
}




/* projects */
#projects .container{
  padding: 3% 10%;
  text-align: center;
}
#projects h2{
  text-align: center;
  margin-bottom: 10px;
}
#projects hr{
  display: inline-block;
  width: 15px;
  border-color: #000;
  margin-bottom: 50px;
  transition: 0.3s ease;
}
#projects h2:hover +hr{
  width: 150px;
  border-color: rgb(206, 41, 206);
}
#projects .project-cards{
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
#projects .project-cards .project-card{
  width: 30%;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  padding:5px 5px 40px 5px;
}
#projects img{
  width: 100%;
  height: 200px;
  border-radius: 5px;
}
#projects  h4{
  margin-bottom: 10px;
  font-size: 18px;
}
#projects .project-card p {
    justify-content: center;
    flex-wrap: wrap;
}
#projects .project-card span{
  margin: 5px;
  padding: 7px;
  background-color: rgb(80, 2, 80);
  border-radius: 5px;
  width: fit-content;
}
#projects .project-card span:hover{

  background-color: #fff;
  color: rgb(117, 3, 117);
  border: rgb(117, 3, 117);
}
#projects .project-cover{
  position: relative;
}
#projects .card-layout{
position: absolute;
    width: 100%;
    height: 99%;
    background-color:#00000094;
    top: 0;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s ease;
}
#projects .project-card .project-cover:hover .card-layout{
  opacity: 1;
}
#projects .card-layout button{
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgb(94, 23, 94);
  border: 0;
}
#projects .card-layout button a{
  color: #fff;
}


/* scroll */

.scroll{
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding:15px 10px;
  color: #fff;
  background-color: violet;
  border-radius: 10px;
  z-index: 5;
  cursor: pointer;
  /* display: none; */
  transition: 0.3s ease;
}
.scroll:hover{
    background-color: rgb(139, 5, 139);
}


/* contact */

#contact{
  background-color: #000;
  color: #fff;
}
#contact .container{
  padding: 5% 10%;
}
#contact .form-info{
  gap: 5%;
}
#contact .form-info>div{
width: 47%;
}
#contact h1{
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}
#contact .form-info{

}
#contact form{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5%;
}

#contact form >div:first-child,#contact form >div:nth-child(2){
  width: 45%;
}
#contact form >div,
#contact form >div:first-child input,#contact form >div:nth-child(2) input,
#contact form >div:nth-child(3) input,#contact form >div:nth-child(4) textarea{
    width: 100%;
    margin-bottom: 7px;
    margin-top: 3px;
    padding: 7px;
}
#contact form label{
  display: block;
}

#contact form input , #contact form textarea{
background-color: rgb(41 0 41);
  border: 0;
  border-radius: 5px;
}
#contact h4{
  font-size: 20px;
  margin-bottom: 15px;
}
#contact .info{
    background-color: #460346;
    padding: 5% 2%;
    border-radius: 10px;
}

#contact .info p >span{
  display: block;
}
#contact .info p >span:nth-child(2){
  color: rgb(187, 173, 173);
  font-size: 14px;
}
#contact .contact-info>div{
  margin-bottom: 10px;
  align-items: center;
  gap: 10px;
}
#contact .contact-info>div >span{
  padding: 5px;
    color: #4a094a;
    background-color: violet;
    border-radius: 50%;
      transition: 0.4s ease;

}
#contact .contact-info>div >span:hover{
  background-color:#581b58 ;
  color: violet;
}
.follow-me{
  margin-top: 20px;
}
.follow-me span{
  padding: 7px;
  background-color: #00000083;
  border-radius: 5px;
  margin-right: 10px;
  transition: 0.4s ease;
}
.follow-me span:hover{
 background-color: #000;
}